        .home-links {
            margin-top: 10px;
            width: 44%;
            margin-left: 3%;
            margin-right: 3%;
            text-align: center;
            text-decoration: none;
            color: inherit;
            padding-top:40px;
            padding-bottom: 40px;


        }
        
        .home-links:hover {
            text-decoration: none;
            color: inherit;

        }
        
        #event-container .row {
            margin: 0px;
        }
		#discussion-dynamic-data .row
		{
			margin:0px;
		}
        
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
            height: 200px;
        }
        
        th,
        td {
            text-align: center;
        }
        
        th:nth-child(1) {
            text-align: left;
            ;
        }
        
        .navbar-default {
            border-color: #E7E7E7 #E7E7E7 #FFA500;
        }
        
        hr {
            border: 0px none;
            height: 1px;
            background-image: linear-gradient(to right, transparent, rgba(255, 165, 0, 0.75), transparent);
        }
        
        .page-title {
            text-align: center;
        }
           .event-icon {
            width: 24px;
            height: 24px;
        }
        
                
        #slide-nav #slidemenu {
            border-right: 1px solid #FFA500;
        }
        /*
        
        
        #slide-nav #navbar-height-col {
            border-right: 1px solid #FFA500;
			width:40%;
			background-color:black;
        }
        
             
        #slide-nav #slidemenu {
            background-color: black;
        }
        */
        #ajax-loader
        {
        	text-align:center;
        }
	.logo
	{
		height 8px;
		width: 100px;
	}
.txt-font{
    font-weight: bold;
    font-size: 16px;
    color:#dddddd;
}
.txt-font:hover
{
    color:#ffffff;

}

    .o {background-color:#0066FF; }
    .r { background-color:#D65930;}
    .b { background-color:#297A29;}
    .p { background-color:#333333;}
    
    pre{
    font-family: inherit;
    }
